     body{
 	  	background: url("images/bgimage.png") no-repeat center fixed;
 	  	background-size: cover;
 	 }
 	 header{
		background-color: rgb(20, 21, 46);
 	 }
 	 #btn{
 	 	border: 1px solid rgb(168, 168, 168);
 	 	padding:4px 2px 4px 2px;
 	 	border-radius:5px;
 	 	color: white;
 	 	text-decoration: none;
 	 }
 	 .topBtn{
 	 	position: absolute;
 	 	top:0px;
 	 	right:5px;
 	 	margin-top: 20px;
 	 }
 	 #btn:hover {
		background-color:white;
		color: black;
		font-family: cursive;
     }
     #searchBox
     {
     	position: absolute;
     	left: 50%;
     	transform: translateX(-50%);
     	margin-top: 10px;
     }
     #searchIcon
     {
     	background-color: white;
     	padding: 3px;
     	border-bottom-right-radius: 4px;
     	border-top-right-radius: 4px;
     }
 		#butt{
 			border: 0px ;
 			width: 100%;
 			border-radius: 5px;
 			background-color: rgb(18, 175, 26);
 			margin-bottom: 10px;
 		}
 		#mainCard{
 		   	width:265px;
 			display: flex;
 			justify-content: center;
 			align-items: center;
 			margin: 60px auto;
 			border:2px solid white;
 			padding: 5px;
 			border-radius: 10px;
 			backdrop-filter: blur(30px);
 		}