	
	header {
		background-color: rgb(20, 21, 46);
	}
	#searchIcon {
		background-color: white;
		padding: 3px;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	.navbar{
	    background-color: rgb(50, 50, 71);
	    height: 40px;
	}
	.navbar a{
		text-decoration:none;
	    color: white;
	    margin-right: 30px;
	}
	.navbar a:hover{
		text-decoration:underline;
	    color: white;
	}

	#name{
		position: absolute;
		top:35px;
		color: rgb(247, 238, 132);
	}
	.topName{
		width:125px;
		height: 50px;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#per{
		color: rgb(81, 233, 7);
		font-size: 30px;
		cursor: pointer;
	}
	